@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @{ var user = (System.Security.Claims.ClaimsIdentity)User.Identity; }
            @Html.ActionLink("Welcome " + user.FindFirstValue("DisplayName"), "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "navBarLink" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" class = "navBarLink">Log off</a></li>
    </ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Register", "Register", "Account", null, new { @class = "navBarLink" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", null, new { @class = "navBarLink" })</li>
</ul>
}
