@{
    ViewBag.Title = "Home Page";
}


<div>
    <h1>Welcome to GameStash!</h1>
    <p class="lead">A place where you can find new games to play, let others know your opinion of a game through reviews, or get involved with the active community through forums.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="color:forestgreen">Games</h2>
        <p>
            Browse our database of games, we have games for all current major consoles as well as PC and are always working on adding more!
        </p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <h2 style="color:forestgreen">Forums</h2>
        <p>
            Looking for a group of players to join your team? Need some help getting past a level?
            Wondering if that new game that just dropped is worth it? Connect with other members and
            discuss anything, doesn't even have to be gaming related. Just a way for one another to
            connect so don't be shy!
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <img class="consoleLogo" src="~/Content/Assets/playStationLogo.png" alt="PlayStation Logo" />
        <img class="consoleLogo" src="~/Content/Assets/xboxLogo.png" alt="Xbox Logo" />
        <img class="nintendoLogo" src="~/Content/Assets/nintendoLogo.png" alt="Nintendo Logo" />
        <img class="steamLogo" src="~/Content/Assets/steamLogo.png" alt="Steam Logo" />
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />